<ul>
    <li><label for=" ">Bebidas</label></li>
    <li>
        <select class="form-control " id="bebida1" name="bebida1" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida2" name="bebida2" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida3" name="bebida3" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida4" name="bebida4" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida5" name="bebida5" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida6" name="bebida6" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida7" name="bebida7" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida8" name="bebida8" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida9" name="bebida9" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="bebida10" name="bebida10" class="form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="1.20">Ativ-Plus = 1,20 R$</option>
            <option value="4.50">Suco Natural = 4,50 R$</option>
            <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
            <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
            <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
            <option value="5.00">Refri-Lata = 5,00 R$</option>
            <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
            <option value="9.00">Coca-cola 2l = 9,00 R$</option>
        </select>
    </li>
</ul>