<ul>
    <li><label for=" ">BUrGeR's</label></li>
    <li>
        <select class="form-control " id="burger1" name="burger1" class="form-control form-control-sm ">
            <option value="0" checked="checked">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger2" name="burger2" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger3" name="burger3" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger4" name="burger4" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger5" name="burger5" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger6" name="burger6" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger7" name="burger7" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger8" name="burger8" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger9" name="burger9" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="burger10" name="burger10" class="form-control form-control-sm ">
            <option value="0" checked="checked ">Selecione</option>
            <option value="7.5">Hamburgue = 7,50 R$</option>
            <option value="11.00">X-Salada = 11,00 R$</option>
            <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
            <option value="12.50">X-Egg = 12,50 R$</option>
            <option value="12.99">X-Bacon = 12,99 R$</option>
            <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
            <option value="13.99">X-Tudo = 13,99 R$</option>
            <option value="14.99">X-Calabressa = 14,99 R$</option>
            <option value="16.50">The Burger = 16,50 R$</option>
        </select>
    </li>
    <li>
        <textarea name="obsBurger" id="obsBurger" cols="30" rows="10" placeholder="Observações:"></textarea>
    </li>
</ul>