<ul>
    <li><label for=" ">Doces</label></li>
    <li>
        <select class=" form-control " id="doces1" name="doces1" class="form-control form-control-sm ">
            <option value="0">Selecione</option>
            <option value="1.99">Palha Italiana = 1,99 R$</option>
            <option value="1.99">Geladinho Gourmet 1,99 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="doces2" name="doces2" class=" form-control form-control-sm ">
            <option value="0">Selecione</option>
            <option value="1.99">Palha Italiana = 1,99 R$</option>
            <option value="1.99">Geladinho Gourmet 1,99 R$</option>
        </select>
    </li>
    <li>
        <select class=" form-control" id="doces3" name="doces3" class="form-control form-control-sm ">
            <option value="0">Selecione</option>
            <option value="1.99">Palha Italiana = 1,99 R$</option>
            <option value="1.99">Geladinho Gourmet 1,99 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="doces4" name="doces4" class=" form-control form-control-sm ">
            <option value="0">Selecione</option>
            <option value="1.99">Palha Italiana = 1,99 R$</option>
            <option value="1.99">Geladinho Gourmet 1,99 R$</option>
        </select>
    </li>
    <li>
        <select class=" form-control " id="doces5" name="doces5" class="form-control form-control-sm ">
            <option value="0">Selecione</option>
            <option value="1.99">Palha Italiana = 1,99 R$</option>
            <option value="1.99">Geladinho Gourmet 1,99 R$</option>
        </select>
    </li>