<ul>
    <li><label for=" ">Fritas</label></li>
    <li>
        <select class="form-control " id="fritas1" name="fritas1" class=" form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="5.99">Batata Frita = 5,99 R$</option>
            <option value="6.99">c/Chedar Batata Frita + X-Calabressa = 6,99 R$</option>
            <option value="6.99">c/Catupiry Batata Frita + X-Calabressa = 6,99 R$</option>
            <option value="6.99">Chiken Wings = 6,99 R$</option>
        </select>
    </li>
    <li>
        <select class="form-control " id="fritas2" name="fritas2" class=" form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="5.99">Batata Frita = 5,99 R$</option>
            <option value="6.99">c/Chedar Batata Frita + X-Calabressa = 6,99 R$</option>
            <option value="6.99">c/Catupiry Batata Frita + X-Calabressa = 6,99 R$</option>
            <option value="6.99">Chiken Wings = 6,99 R$</option>
        </select>
    </li>
    <li>
    <li>
        <select class="form-control " id="fritas3" name="fritas3" class=" form-control form-control-sm ">
            <option value="0" checked=" checked ">Selecione</option>
            <option value="5.99">Batata Frita = 5,99 R$</option>
            <option value="6.99">c/Chedar Batata Frita + X-Calabressa = 6,99 R$</option>
            <option value="6.99">c/Catupiry Batata Frita + X-Calabressa = 6,99 R$</option>
            <option value="6.99">Chiken Wings = 6,99 R$</option>
        </select>
    </li>
</ul>