<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuRGeR'S</title>
    <!--adiconando lib Bototstrap-->
    <link rel="stylesheet" href="/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <!---->
    <!--adicionando css vendas-->
    <link rel="stylesheet" href="/css/index.css">
    <!--adicionando css login-->
    <link rel="/css/indexsheet" href="/css/login.css">
</head>

<body>
    {{{body}}}
</body>

</html>