#exibePedidos {
    position: absolute;
    background-color: white;
}

.pedidos {
    background-color: white;
}

h2 {
    text-align: center;
}

.btnPedidos ul li {
    display: inline;
}

#exibePedidos h2 {
    font-size: 54px;
    color: grey;
    text-decoration: black;
}