<header>
    <h1>The BurGeR's</h1>
</header>
<div class="login">
    <form id="login" action="" method="post">
        <ul>
            <li><label for="">Usuario</label></li>
            <li><input type="text" name="email" readonly class="form-control-plaintext" id="staticEmail"
                    value="The_Best_Burger@outlook.com"></li>
            <li><label for="">Senha</label></li>
            <li><input type="password" name="senha" class="form-control" id="inputPassword"></li>
            <li>
                <Button type="submit" class="btn btn-success" id="enviarLogin">Enviar</Button>
            </li>
        </ul>

    </form>
</div>