<section>
    <div class="burgers ">
        <form action="/processaVendas" method="post">
            {{>_burger}}
    </div>

    <div class="bebidas ">
        {{>_bebidas}}
    </div>

    <div class="fritas">
        {{>_fritas}}
    </div>

    <div class=" doces ">
        {{>_doces}}
        </ul>

    </div>
    <div class="finalizando">
        <div class="cliente">
            <h2>Cliente</h2>
            <ul>
                <li><input type="text" name="cliente" class="form-control " placeholder="Digite o nome do Cliente"></li>
                <li><input type="number" name="numero" class="form-control " placeholder="Telefone"></li>
                <li>
                    <select name="bairro" class="form-control " id="">
                        <option value="0" checked="checked">Selecione</option>
                        <option value="1.00">Parque Independência 1,00 R$</option>
                        <option value="2.00">Orlândélia 2,00 R$</option>
                        <option value="2.00">Ano Bom 2,00 R$</option>
                        <option value="2.50">Centro 2,50 R$</option>
                        <option value="3.00">Eduardo Junqueira 3,00 R$</option>
                        <option value="3.50">Verbo Divino 3,50 R$</option>
                        <option value="3.00">Santa Rosa 3,00 R$</option>
                        <option value="3.00">São Francisco de Assis 3,00 R$</option>
                        <option value="3.00">Santa Izabel 3,00 R$</option>
                        <option value="3.00">Coringa 3,00 R$</option>
                        <option value="3.50">Vila Nova 3,50 R$</option>
                        <option value="4.00">Vila Brigida 4,00 R$</option>
                        <option value="4.00">Ary Parreira 4,00 R$</option>
                        <option value="4.50">Saudade 4,50 R$</option>
                        <option value="4.50">Vila Maria 4,50 R$</option>
                        <option value="5.00">Vista Alegre 5,00 R$</option>
                        <option value="4.50">Getulio 4,50 R$</option>
                    </select>
                </li>
                <li><input type="text" name="rua" class="form-control " placeholder="Nome da Rua"></li>
                <li>
                    <input type="number" name="casa" class="form-control " placeholder="Numero da Residência">
                </li>
                <li>
                    <textarea name="complemento" class="form-control " id="" cols="30" rows="10"
                        placeholder="Complemento:"></textarea>
                </li>
            </ul>

        </div>
        <hr>
        <div class="pagamento">
            <ul>
                <li><label for=" ">Cartão</label></li>
                <li>
                    <select class="form-control " id=" " name="cartao">
                        <option value="dinheiro" aria-checked="true">Dinheiro</option>
                        <option value="C.debito">Débito</option>
                        <option value="C.credito">Credito</option>
                    </select>
                </li>
                <li><label for=" ">Dinheiro</label></li>
                <li>
                    <div class=" input-group ">
                        <input type="number" id="dinheiro" name="valorDinheiro" class=" form-control">
                        <div class=" input-group-append ">
                            <span class=" input-group-text ">R$</span>
                            <span class=" input-group-text ">0.00</span>
                        </div>
                    </div>
                </li>
                <li><label>Valor da compra</label></li>
                <div class=" input-group ">
                    <input type="number" id="valorCompra" name="total" class=" form-control">
                    <div class=" input-group-append ">
                        <span class=" input-group-text ">R$</span>
                        <span class=" input-group-text ">0.00</span>
                    </div>
                </div>
                </li>
                <li>
                    <label for=" ">Compras</label>
                    <div class="visor" id="tela">

                    </div>
                </li>
                <li>
                    <div class="visor2" id="telaTotal">

                    </div>
                </li>
                <li>
                    <div class="visor3" id="telaTroco">

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn-success" id="btnForm">Enviar</button>
    </form>
    <button onclick="calculando()" class="btn btn-secondary" id="calcularTroco">Calcular</button>
</section>