<section>
    <div class="burgers ">
        <form action="/processaVendas" method="post">
            <ul>
                <li><label for=" ">BUrGeR's</label></li>
                <li>
                    <select class="form-control " id="burger1" name="burger1" class="form-control form-control-sm ">
                        <option value="0" checked="checked">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger2" name="burger2" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger3" name="burger3" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger4" name="burger4" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger5" name="burger5" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger6" name="burger6" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger7" name="burger7" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger8" name="burger8" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger9" name="burger9" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <select class="form-control " id="burger10" name="burger10" class="form-control form-control-sm ">
                        <option value="0" checked="checked ">Selecione</option>
                        <option value="7.5">Hamburgue = 7,50 R$</option>
                        <option value="11.00">X-Salada = 11,00 R$</option>
                        <option value="12.00">X-Salada-Bacon = 12,00 R$</option>
                        <option value="12.50">X-Egg = 12,50 R$</option>
                        <option value="12.99">X-Bacon = 12,99 R$</option>
                        <option value="13.50">X-Egg-Bacon = 13,50 R$</option>
                        <option value="13.99">X-Tudo = 13,99 R$</option>
                        <option value="14.99">X-Calabressa = 14,99 R$</option>
                        <option value="16.50">The Burger = 16,50 R$</option>
                    </select>
                </li>
                <li>
                    <textarea name="obsBurger" id="obsBurger" cols="30" rows="10" placeholder="Observações:"></textarea>
                </li>
            </ul>
    </div>
    <!--=======================================================
                         Adionando Aba Bebidas
        ===========================================================-->
    <div class="bebidas ">
        <ul>
            <li><label for=" ">Bebidas</label></li>
            <li>
                <select class="form-control " id="bebida1" name="bebida1" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida2" name="bebida2" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida3" name="bebida3" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida4" name="bebida4" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida5" name="bebida5" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida6" name="bebida6" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida7" name="bebida7" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida8" name="bebida8" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida9" name="bebida9" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="bebida10" name="bebida10" class="form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="1.20">Ativ-Plus = 1,20 R$</option>
                    <option value="4.50">Suco Natural = 4,50 R$</option>
                    <option value="3.50">Milk-Shake 300ml = 3,50 R$</option>
                    <option value="4.50">Milk-Shake 400ml = 4,50 R$</option>
                    <option value="5.50">Milk-Shake 500ml = 5,50 R$</option>
                    <option value="5.00">Refri-Lata = 5,00 R$</option>
                    <option value="6.00">Refri-Guaraná 2l = 6,00 R$</option>
                    <option value="9.00">Coca-cola 2l = 9,00 R$</option>
                </select>
            </li>
        </ul>
    </div>


    <!--=======================================================
                         Adionando Aba Fritas
        ===========================================================-->
    <div class="fritas">
        <ul>
            <li><label for=" ">Fritas</label></li>
            <li>
                <select class="form-control " id="fritas1" name="fritas1" class=" form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="5.99">Batata Frita = 5,99 R$</option>
                    <option value="6.99">c/Chedar Batata Frita + X-Calabressa = 6,99 R$</option>
                    <option value="6.99">c/Catupiry Batata Frita + X-Calabressa = 6,99 R$</option>
                    <option value="6.99">Chiken Wings = 6,99 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="fritas2" name="fritas2" class=" form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="5.99">Batata Frita = 5,99 R$</option>
                    <option value="6.99">c/Chedar Batata Frita + X-Calabressa = 6,99 R$</option>
                    <option value="6.99">c/Catupiry Batata Frita + X-Calabressa = 6,99 R$</option>
                    <option value="6.99">Chiken Wings = 6,99 R$</option>
                </select>
            </li>
            <li>
            <li>
                <select class="form-control " id="fritas3" name="fritas3" class=" form-control form-control-sm ">
                    <option value="0" checked=" checked ">Selecione</option>
                    <option value="5.99">Batata Frita = 5,99 R$</option>
                    <option value="6.99">c/Chedar Batata Frita + X-Calabressa = 6,99 R$</option>
                    <option value="6.99">c/Catupiry Batata Frita + X-Calabressa = 6,99 R$</option>
                    <option value="6.99">Chiken Wings = 6,99 R$</option>
                </select>
            </li>
        </ul>
    </div>

    <!--=======================================================
                         Adionando Aba Doces
        ===========================================================-->
    <div class=" doces ">
        <ul>
            <li><label for=" ">Doces</label></li>
            <li>
                <select class=" form-control " id="doces1" name="doces1" class="form-control form-control-sm ">
                    <option value="0">Selecione</option>
                    <option value="1.99">Palha Italiana = 1,99 R$</option>
                    <option value="1.99">Geladinho Gourmet 1,99 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="doces2" name="doces2" class=" form-control form-control-sm ">
                    <option value="0">Selecione</option>
                    <option value="1.99">Palha Italiana = 1,99 R$</option>
                    <option value="1.99">Geladinho Gourmet 1,99 R$</option>
                </select>
            </li>
            <li>
                <select class=" form-control" id="doces3" name="doces3" class="form-control form-control-sm ">
                    <option value="0">Selecione</option>
                    <option value="1.99">Palha Italiana = 1,99 R$</option>
                    <option value="1.99">Geladinho Gourmet 1,99 R$</option>
                </select>
            </li>
            <li>
                <select class="form-control " id="doces4" name="doces4" class=" form-control form-control-sm ">
                    <option value="0">Selecione</option>
                    <option value="1.99">Palha Italiana = 1,99 R$</option>
                    <option value="1.99">Geladinho Gourmet 1,99 R$</option>
                </select>
            </li>
            <li>
                <select class=" form-control " id="doces5" name="doces5" class="form-control form-control-sm ">
                    <option value="0">Selecione</option>
                    <option value="1.99">Palha Italiana = 1,99 R$</option>
                    <option value="1.99">Geladinho Gourmet 1,99 R$</option>
                </select>
            </li>

        </ul>

    </div>
    <div class="finalizando">
        <div class="cliente">
            <h2>Cliente</h2>
            <ul>
                <li><input type="text" name="cliente" class="form-control " placeholder="Digite o nome do Cliente"></li>
                <li><input type="number" name="numero" class="form-control " placeholder="Telefone"></li>
                <li>
                    <select name="bairro" class="form-control " id="">
                        <option value="0" checked="checked">Selecione</option>
                        <option value="1.00">Parque Independência 1,00 R$</option>
                        <option value="2.00">Orlândélia 2,00 R$</option>
                        <option value="2.00">Ano Bom 2,00 R$</option>
                        <option value="2.50">Centro 2,50 R$</option>
                        <option value="3.00">Eduardo Junqueira 3,00 R$</option>
                        <option value="3.50">Verbo Divino 3,50 R$</option>
                        <option value="3.00">Santa Rosa 3,00 R$</option>
                        <option value="3.00">São Francisco de Assis 3,00 R$</option>
                        <option value="3.00">Santa Izabel 3,00 R$</option>
                        <option value="3.00">Coringa 3,00 R$</option>
                        <option value="3.50">Vila Nova 3,50 R$</option>
                        <option value="4.00">Vila Brigida 4,00 R$</option>
                        <option value="4.00">Ary Parreira 4,00 R$</option>
                        <option value="4.50">Saudade 4,50 R$</option>
                        <option value="4.50">Vila Maria 4,50 R$</option>
                        <option value="5.00">Vista Alegre 5,00 R$</option>
                        <option value="4.50">Getulio 4,50 R$</option>
                    </select>
                </li>
                <li><input type="text" name="rua" class="form-control " placeholder="Nome da Rua"></li>
                <li>
                    <input type="number" name="casa" class="form-control " placeholder="Numero da Residência">
                </li>
                <li>
                    <textarea name="complemento" class="form-control " id="" cols="30" rows="10"
                        placeholder="Complemento:"></textarea>
                </li>
            </ul>

        </div>
        <hr>
        <div class="pagamento">
            <ul>
                <li><label for=" ">Cartão</label></li>
                <li>
                    <select class="form-control " id=" " name="cartao">
                        <option value="dinheiro" aria-checked="true">Dinheiro</option>
                        <option value="C.debito">Débito</option>
                        <option value="C.credito">Credito</option>
                    </select>
                </li>
                <li><label for=" ">Dinheiro</label></li>
                <li>
                    <div class=" input-group ">
                        <input type="number" id="dinheiro" class=" form-control " aria-label=" Quantia em Dollar (com ponto e
                                                duas casas decimais) ">
                        <div class=" input-group-append ">
                            <span class=" input-group-text ">R$</span>
                            <span class=" input-group-text ">0.00</span>
                        </div>
                    </div>
                </li>
                <li><label>Valor da compra</label></li>
                <div class=" input-group ">
                    <input type="number" id="valorCompra" class=" form-control " aria-label=" Quantia em Dollar (com ponto e
                                                duas casas decimais) ">
                    <div class=" input-group-append ">
                        <span class=" input-group-text ">R$</span>
                        <span class=" input-group-text ">0.00</span>
                    </div>
                </div>
                </li>
                <li>
                    <label for=" ">Compras</label>
                    <div class="visor" id="tela">

                    </div>
                </li>
                <li>
                    <div class="visor2" id="telaTotal">

                    </div>
                </li>
                <li>
                    <div class="visor3" id="telaTroco">

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn-success" id="btnForm">Enviar</button>
    </form>
    <button onclick="calculando()" class="btn btn-secondary" id="calcularTroco">Calcular</button>
</section>